<aside
  id="dashboard-sidebar"
  class="h-full transition-all duration-400 sm:static fixed top-0 left-0 z-40 -translate-x-full sm:translate-x-0"
  [class]="collapse_sidebar() ? 'w-56' : 'w-16'"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-neutral-primary-soft border-e border-default">
    <ul class="space-y-2 font-medium">
      @for (item of items; track item.label) {
        <li>
          <a
            href="{{ item.route }}"
            class="flex items-center px-2 h-10 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
          >
            <ui-icon
              [icon]="item.icon"
              class="transition duration-75 group-hover:text-fg-brand pl-1"
              aria-hidden="true"
            ></ui-icon>
            @if (collapse_sidebar()) {
              <span
                class="ms-3"
                animate.enter="fade-in"
                animate.leave="fade-out"
                >{{ item.label }}</span
              >
            }
          </a>
        </li>
      }
    </ul>
  </div>
</aside>
