<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-1">
    <span class="font-semibold text-heading">Nombre del cliente:</span>
    <a
      routerLink="/dashboard/customer"
      [queryParams]="{
        search: appointmentService.selected_appointment()?.customer?.profile?.first_name,
      }"
      class="text-primary cursor-pointer text-body"
    >
      {{ appointmentService.selected_appointment()?.customer?.profile?.first_name }}
      {{ appointmentService.selected_appointment()?.customer?.profile?.last_name }}
    </a>
  </div>

  <div class="flex flex-col gap-1">
    <span class="font-semibold text-heading">Servicio:</span>
    <a
      routerLink="/dashboard/treatment"
      [queryParams]="{ search: appointmentService.selected_appointment()?.treatment?.name }"
      class="text-primary cursor-pointer text-body"
    >
      {{ appointmentService.selected_appointment()?.treatment?.name }}
    </a>
  </div>

  <div class="flex flex-col gap-1">
    <span class="font-semibold text-heading">Fecha programada:</span>
    <span class="text-body">
      {{ appointmentService.selected_appointment()?.date | date: 'longDate' }}
    </span>
  </div>
  <div class="flex flex-col gap-1">
    <span class="font-semibold text-heading">Hora de inicio y finalización:</span>
    <span class="text-body">
      {{ appointmentService.selected_appointment()?.time_start?.slice(0, 5) }}
      -
      {{ appointmentService.selected_appointment()?.time_end?.slice(0, 5) }}
    </span>
  </div>
  @if (appointmentService.selected_appointment()?.notes) {
    <div class="flex flex-col gap-1">
      <span class="font-semibold text-heading">Notas:</span>
      <p class="text-justify text-body">
        {{ appointmentService.selected_appointment()?.notes }}
      </p>
    </div>
  }

  @if (appointmentService.selected_appointment()?.sale_appointment_detail) {
    <span class="text-body text-sm">Esta cita ya ha sido atendida y no puede ser modificada.</span>
  } @else {
    <ui-button
      _label="Modificar"
      icon="edit"
      block
      variant="default"
      (click)="
        appointment_drawer_ref()?.open_drawer_update(appointmentService.selected_appointment()!)
      "
    />
    <ui-button
      _label="Eliminar"
      icon="delete"
      block
      variant="danger"
      (click)="
        appointment_modal_ref()?.open_delete_modal(appointmentService.selected_appointment()!)
      "
      soft
    />
  }
</div>

<appointment-drawer #appointment_drawer />
<appointment-modal #appointment_modal />
