<form
  autocomplete="off"
  (submit)="on_submit($event)"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-3 mb-6">
    <div class="flex flex-col gap-3">
      <div>
        <ui-field
          _label="Contraseña actual"
          _id="current_password"
          [field]="form.current_password"
          is_error_message_fixed
          required
        >
          <ui-input
            _type="password"
            _placeholder="Tu contraseña actual"
            [field]="form.current_password"
          />
        </ui-field>
      </div>

      <div>
        <ui-field
          _label="Nueva contraseña"
          _id="password"
          [field]="form.password"
          is_error_message_fixed
          required
        >
          <ui-input
            _type="password"
            _placeholder="Tu nueva contraseña"
            [field]="form.password"
          />
        </ui-field>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <div>
        <ui-field
          _label="Repetir nueva contraseña"
          _id="repeat_password"
          [field]="form.repeat_password"
          is_error_message_fixed
          required
        >
          <ui-input
            _type="password"
            _placeholder="Repite tu nueva contraseña"
            [field]="form.repeat_password"
          />
        </ui-field>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-2 justify-end">
    <ui-button
      icon="save"
      _label="Cambiar contraseña"
      _type="submit"
      variant="default"
      [is_spinning]="isSubmitting()"
    />
  </div>
</form>
