<form autocomplete="off">
  <div class="flex flex-col gap-3">
    <div>
      <ui-field
        _label="Producto"
        _id="product"
        [field]="form.product"
        is_error_message_fixed
        required
      >
        <ui-select-menu
          _placeholder="Seleccione un producto"
          [field]="form.product"
          [fetch_options]="get_product_values.bind(this)"
        />
      </ui-field>
    </div>

    <div>
      <ui-field
        _label="Tipo de movimiento"
        _id="type"
        [field]="form.type"
        is_error_message_fixed
        required
      >
        <ui-select-menu
          _placeholder="Seleccione un tipo"
          [field]="form.type"
          [options]="movement_type_options"
        />
      </ui-field>
    </div>

    @if (show_supplier()) {
      <div>
        <ui-field
          _label="Proveedor"
          _id="supplier"
          [field]="form.supplier"
          is_error_message_fixed
          required
        >
          <ui-select-menu
            _placeholder="Seleccione un proveedor"
            [field]="form.supplier"
            [fetch_options]="get_supplier_values.bind(this)"
          />
        </ui-field>
      </div>
    } @else if (show_notes()) {
      <div>
        <ui-field
          _label="Notas"
          _id="notes"
          [field]="form.notes"
          is_error_message_fixed
          required
        >
          <ui-textarea
            _placeholder="Agrega las notas"
            [field]="form.notes"
            [rows]="4"
          />
        </ui-field>
      </div>
    }

    <div>
      <ui-field
        _label="Cantidad"
        _id="quantity"
        [field]="form.quantity"
        is_error_message_fixed
        required
      >
        <ui-input
          _type="number"
          _placeholder="Cantidad"
          [field]="form.quantity"
        />
      </ui-field>
    </div>
  </div>
</form>
