<aside
  id="dashboard-sidebar"
  class="fixed top-0 -translate-x-full sm:translate-x-0 h-full sm:pt-14 transition-all duration-300"
  [class.w-56]="collapse_sidebar()"
  [class.w-16]="!collapse_sidebar()"
  aria-label="Sidebar"
>
  <div
    class="h-full px-3 py-4 bg-neutral-primary-soft border-e border-default justify-between flex flex-col overflow-y-scroll no-scrollbar space-y-2"
  >
    @for (group of [items, items_end]; track group) {
      <ul class="space-y-2 font-medium">
        @for (item of group; track item.label) {
          <li>
            <a
              [routerLink]="[item.route]"
              class="flex items-center px-2 h-10 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
              [routerLinkActive]="['text-fg-brand']"
              [routerLinkActiveOptions]="{ exact: item.route == '/dashboard' ? true : false }"
            >
              <ui-icon
                [icon]="item.icon"
                class="transition duration-75 group-hover:text-fg-brand pl-1"
                aria-hidden="true"
              ></ui-icon>
              @if (collapse_sidebar()) {
                <span
                  class="ms-3"
                  animate.enter="fade-in"
                  animate.leave="fade-out"
                  >{{ item.label }}</span
                >
              }
            </a>
          </li>
        }
      </ul>
    }
  </div>
</aside>
