<button
  [id]="_id()"
  [type]="_type()"
  [class.w-full]="block()"
  class="box-border font-medium leading-5 rounded-base focus:outline-none cursor-pointer focus:ring-4 flex flex-row items-center justify-center transition-colors"
  [ngClass]="[
    variant_classes.base,
    size_classes.text,
    !_label() && icon() ? size_classes.padding_full : size_classes.padding_xy,
    rounded() ? 'rounded-full' : '',
    outline() ? variant_classes.outline : '',
    disabled() ? 'cursor-not-allowed opacity-50' : '',
    soft() ? variant_classes.soft : '',
  ]"
  [disabled]="disabled()"
>
  @if (icon() || _label()) {
    @if (icon()) {
      <ui-icon
        [icon]="icon()!"
        [size]="this.size()"
        [class]="[!_label() ? 'm-0' : 'me-2', is_spinning() ? 'animate-spin' : '']"
      ></ui-icon>
    }
    {{ _label() }}
  } @else {
    <ng-content></ng-content>
  }
</button>
