<form
  autocomplete="off"
  (submit)="on_submit($event)"
>
  <div class="grid grid-cols-1 gap-x-6 gap-y-3 mb-6 max-w-md mx-auto">
    <div class="flex flex-col gap-3">
      <div>
        <ui-field
          _label="Nombre de usuario"
          _id="username"
          [field]="form.username"
          is_error_message_fixed
          required
        >
          <ui-input
            _placeholder="Nombre de usuario"
            [field]="form.username"
          />
        </ui-field>
      </div>

      <div>
        <ui-field
          _label="Correo electrónico"
          _id="email"
          [field]="form.email"
          is_error_message_fixed
          required
        >
          <ui-input
            _placeholder="tucorreo@ejemplo.com"
            [field]="form.email"
          />
        </ui-field>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <div>
        <ui-field
          _label="Número de teléfono"
          _id="phone_number"
          [field]="form.phone_number"
          is_error_message_fixed
          required
        >
          <ui-input
            _placeholder="Tu número de teléfono"
            [field]="form.phone_number"
          />
        </ui-field>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-2 justify-between">
    <ui-button
      icon="google"
      _label="Vincular con Google"
      variant="dark"
      block
    />
    <div class="flex gap-2">
      <ui-tooltip
        _label="Revertir cambios"
        _id="revert_changes_user"
      >
      </ui-tooltip>
      <ui-button
        icon="revert"
        variant="secondary"
        size="lg"
        data-tooltip-target="revert_changes_user"
        [disabled]="!can_revert()"
        (click)="revert()"
      />
      <ui-button
        icon="save"
        _label="Guardar cambios"
        _type="submit"
        variant="default"
        [is_spinning]="isSubmitting()"
      />
    </div>
  </div>
</form>
