<div class="w-full flex flex-col min-h-screen bg-neutral-primary-soft">
  <dashboard-navbar
    [(collapse_sidebar)]="collapse_sidebar"
    class="sticky top-0 z-30"
  ></dashboard-navbar>

  <div class="flex flex-row transition-all duration-400">
    <dashboard-sidebar
      [collapse_sidebar]="collapse_sidebar()"
      class="z-100 sm:z-10 h-full sticky sm:top-15"
    />

    <div
      class="p-4 flex flex-col max-w-450 mx-auto w-full transition-all duration-400"
      [class.sm:pl-20]="!collapse_sidebar()"
      [class.sm:pl-60]="collapse_sidebar()"
    >
      @if (dashboardService.tree() && !(this.router.url === '/dashboard/chat')) {
        <ui-breadcrumb [items]="dashboardService.tree()!"></ui-breadcrumb>
        <hr class="w-full text-body-subtle opacity-20" />
        <div class="flex flex-row justify-between items-center mt-4 mb-6">
          <span class="text-2xl sm:text-4xl font-bold tracking-tight text-heading">{{
            dashboardService.tree()![dashboardService.tree()!.length - 1].label
          }}</span>

          @if (dashboardService.reload()) {
            <ui-button
              icon="reset"
              size="lg"
              variant="ghost"
              (click)="dashboardService.on_reload()"
              [disabled]="dashboardService.is_reloading()"
              [is_spinning]="dashboardService.is_reloading()"
            ></ui-button>
          }
        </div>
      }
      <main
        class="relative"
        [class.pointer-events-none]="
          !authService.is_verified() && router.url !== '/dashboard/profile'
        "
      >
        {{ router.url }}
        @if (!authService.is_verified() && router.url !== '/dashboard/profile') {
          <card-not-verified></card-not-verified>
        }
        <router-outlet></router-outlet>
      </main>
    </div>
    @if (!(this.router.url === '/dashboard/chat')) {
      @if (chatService.show_chat_window()) {
        <chat-window class="fixed bottom-6 right-24 max-w-80 hidden sm:block"></chat-window>
      }
      <chat-button class="fixed bottom-6 right-6 flex z-20" />
    }
  </div>
</div>
