<div
  class="flex flex-row justify-between bg-gray-500/5 dark:bg-gray-500/15 hover:bg-gray-500/10 dark:hover:bg-gray-500/30 rounded cursor-pointer transition-colors"
>
  <div
    class="flex flex-row w-full p-4"
    [routerLink]="notification().goto_url"
  >
    <div
      [class]="[
        types[notification().type]?.background || '',
        'p-1',
        'rounded-md',
        types[notification().type]?.border || '',
      ]"
      class="h-fit"
    >
      <ui-icon
        [icon]="types[notification().type]?.icon || 'info'"
        [class]="types[notification().type]?.foreground || ''"
      ></ui-icon>
    </div>
    <div class="ms-3 text-sm font-normal text-body">
      <span class="mb-1 text-base font-medium text-heading">{{ notification().title }}</span>
      <div class="">{{ notification().message }}</div>
      <span class="text-xs text-fg-brand">{{ notification().created_at | timeago }}</span>
    </div>
  </div>
  @if (show_delete()) {
    <ui-button
      outline
      variant="danger"
      size="xs"
      (click)="delete_notification()"
      class="p-4"
    >
      <ui-icon icon="delete"></ui-icon>
      <span class="hidden sm:inline ml-2"> Eliminar </span>
    </ui-button>
  }
</div>
