<div class="bg-neutral-primary-soft">
  <div
    class="py-2 px-4 border border-default rounded-tl-base rounded-tr-base bg-neutral-secondary-soft"
  >
    <span class="text-heading text-xs">Chat con asistente inteligente</span>
  </div>

  <div
    class="bg-neutral-primary h-64 p-4 gap-2 flex flex-col overflow-y-scroll no-scrollbar border border-default border-t-0 border-b-0"
    #chat_messages_container
  >
    @for (message of chatService.chat_messages(); track message) {
      <div
        chat-bubble
        [side]="message.role"
        [content]="message.content"
      ></div>
    }
  </div>
  <div class="flex flex-row items-center border border-default rounded-bl-base rounded-br-base">
    <input
      type="text"
      class="bg-neutral-secondary-medium border-default-medium text-heading rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body text-xs rounded-e-0 rounded-ss-0 border-0 border-r"
      placeholder="Escribe tu mensaje..."
      required
      #message_input
      (keydown.enter)="send_message()"
    />
    <ui-button
      rounded
      variant="ghost"
      icon="send"
      (click)="send_message()"
    ></ui-button>
  </div>
</div>
