<div class="shadow-sm dark:shadow-white/40 rounded-base w-[320px] flex flex-col">
  <div
    class="py-2 px-4 border border-default rounded-tl-base rounded-tr-base bg-neutral-secondary-soft flex flex-row items-center justify-between"
  >
    <span class="text-heading text-xs">Chat con asistente inteligente</span>
    <div class="flex gap-1">
      <chat-dropdown></chat-dropdown>
      <ui-button
        icon="close"
        size="xs"
        rounded
        variant="ghost"
        (click)="chatService.toggle_chat_window(false)"
      ></ui-button>
    </div>
  </div>

  <div
    class="bg-neutral-primary h-76 gap-3 flex flex-col overflow-y-scroll no-scrollbar border border-default border-t-0 border-b-0"
    #chat_messages_container
  >
    <chat-scroll></chat-scroll>
  </div>
  <chat-input />
</div>
