<div
  #drawer
  tabindex="-1"
  class="fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full bg-neutral-primary-soft w-full max-w-96"
  [ngClass]="['flex flex-col justify-between h-full']"
>
  @if (drawer_service.show_header()) {
    <div
      class="flex items-center sticky top-0 bg-neutral-primary-soft py-2 justify-between px-2 sm:px-4"
      [ngClass]="[
        drawer_service.options().header?.properties?.show_divider
          ? 'border-b border-default-medium'
          : '',
      ]"
    >
      @if (drawer_service.options().header?.template) {
        <ng-container *ngTemplateOutlet="drawer_service.options().header?.template"></ng-container>
      } @else if (drawer_service.options().header?.properties?.title) {
        <h5 class="text-md font-bold text-heading">
          {{ drawer_service.options().header?.properties?.title }}
        </h5>
      }
      @if (drawer_service.options().header?.properties?.show_close_button) {
        <ng-container>
          <ui-button
            variant="ghost"
            icon="close"
            (click)="drawer_service.close()"
          />
        </ng-container>
      }
    </div>
  }
  <div class="overflow-y-auto flex flex-col h-full w-full p-4">
    <ng-container *ngTemplateOutlet="drawer_service.options().content?.template" />
  </div>
  @if (drawer_service.show_footer()) {
    <div
      class="flex items-center justify-end border-default space-x-2 px-2 sm:px-4 sticky bottom-0 py-2 sm:py-3"
      [ngClass]="[
        drawer_service.options().header?.properties?.show_divider
          ? 'border-t border-default-medium'
          : '',
      ]"
    >
      @if (drawer_service.options().footer?.template) {
        <ng-container *ngTemplateOutlet="drawer_service.options().footer?.template" />
      } @else if (drawer_service.options().footer?.properties?.length) {
        @for (button of drawer_service.options().footer?.properties; track button.label) {
          <ui-button
            [variant]="button.variant"
            [size]="button.size"
            _label="{{ button.label }}"
            (click)="button.action()"
          >
            {{ button.label }}
          </ui-button>
        }
      }
    </div>
  }
</div>
