:root {
  --color-java-50: #f2fbfa;
  --color-java-100: #d2f5f1;
  --color-java-200: #a5eae3;
  --color-java-300: #70d8d1;
  --color-java-400: #41beb9;
  --color-java-500: #29a3a0;
  --color-java-600: #1e8383;
  --color-java-700: #1c6869;
  --color-java-800: #1b5354;
  --color-java-900: #1b4546;
  --color-java-950: #0a2729;

  --color-radical-red-50: #fff0f1;
  --color-radical-red-100: #ffe2e4;
  --color-radical-red-200: #ffcad0;
  --color-radical-red-300: #ff9faa;
  --color-radical-red-400: #ff697e;
  --color-radical-red-500: #ff2c4f;
  --color-radical-red-600: #ed1140;
  --color-radical-red-700: #c80836;
  --color-radical-red-800: #a80934;
  --color-radical-red-900: #8f0c34;
  --color-radical-red-950: #500117;

  --color-picton-blue-50: #eff8ff;
  --color-picton-blue-100: #def1ff;
  --color-picton-blue-200: #b6e4ff;
  --color-picton-blue-300: #75ceff;
  --color-picton-blue-400: #2cb8ff;
  --color-picton-blue-500: #00a8ff;
  --color-picton-blue-600: #0085d4;
  --color-picton-blue-700: #0069ab;
  --color-picton-blue-800: #00578d;
  --color-picton-blue-900: #064874;
  --color-picton-blue-950: #042e4d;

  --color-green-50: #eaffe4;
  --color-green-100: #d0ffc4;
  --color-green-200: #a5ff90;
  --color-green-300: #6eff50;
  --color-green-400: #28ff00;
  --color-green-500: #20e600;
  --color-green-600: #16b800;
  --color-green-700: #0e8b00;
  --color-green-800: #116d07;
  --color-green-900: #115c0b;
  --color-green-950: #023400;

  --color-candlelight-50: #fefce8;
  --color-candlelight-100: #fff9c2;
  --color-candlelight-200: #fff089;
  --color-candlelight-300: #ffdc2c;
  --color-candlelight-400: #fdcc12;
  --color-candlelight-500: #ecb306;
  --color-candlelight-600: #cc8902;
  --color-candlelight-700: #a36105;
  --color-candlelight-800: #864c0d;
  --color-candlelight-900: #723e11;
  --color-candlelight-950: #431f05;

  --color-brand-50: var(--color-picton-blue-50);
  --color-brand-100: var(--color-picton-blue-100);
  --color-brand-200: var(--color-picton-blue-200);
  --color-brand-300: var(--color-picton-blue-300);
  --color-brand-400: var(--color-picton-blue-400);
  --color-brand-500: var(--color-picton-blue-500);
  --color-brand-600: var(--color-picton-blue-600);
  --color-brand-700: var(--color-picton-blue-700);
  --color-brand-800: var(--color-picton-blue-800);
  --color-brand-900: var(--color-picton-blue-900);
  --color-brand-950: var(--color-picton-blue-950);

  --color-danger-50: var(--color-radical-red-50);
  --color-danger-100: var(--color-radical-red-100);
  --color-danger-200: var(--color-radical-red-200);
  --color-danger-300: var(--color-radical-red-300);
  --color-danger-400: var(--color-radical-red-400);
  --color-danger-500: var(--color-radical-red-500);
  --color-danger-600: var(--color-radical-red-600);
  --color-danger-700: var(--color-radical-red-700);
  --color-danger-800: var(--color-radical-red-800);
  --color-danger-900: var(--color-radical-red-900);
  --color-danger-950: var(--color-radical-red-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-warning-50: var(--color-candlelight-50);
  --color-warning-100: var(--color-candlelight-100);
  --color-warning-200: var(--color-candlelight-200);
  --color-warning-300: var(--color-candlelight-300);
  --color-warning-400: var(--color-candlelight-400);
  --color-warning-500: var(--color-candlelight-500);
  --color-warning-600: var(--color-candlelight-600);
  --color-warning-700: var(--color-candlelight-700);
  --color-warning-800: var(--color-candlelight-800);
  --color-warning-900: var(--color-candlelight-900);
  --color-warning-950: var(--color-candlelight-950);

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-(--color-heading);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-(--color-neutral-primary-soft);
    border-radius: 10px;
  }
}
