<div>
  <div class="flex flex-row justify-between items-center mb-2">
    <label
      for="{{ _id() }}"
      class="block text-sm font-medium text-heading"
      [class.text-fg-danger-strong!]="field()().touched() && error_message()"
    >
      {{ _label() }}
      @if (required()) {
        <span class="text-danger">*</span>
      }
    </label>
    <ng-content select="[slot=right]"></ng-content>
  </div>

  <ng-content />

  <div
    class="mt-1"
    [class]="is_error_message_fixed() && 'h-3'"
  >
    <p class="text-xs text-fg-danger-strong text-nowrap truncate">
      @if (field()().touched() && error_message()) {
        <span class="font-medium"> {{ error_message() }}</span>
      }
    </p>
  </div>
</div>
