<div
  class="bg-neutral-primary-soft border border-default rounded-base shadow-xs"
  [ngClass]="[
    unwrap()
      ? 'max-sm:bg-transparent max-sm:p-0 max-sm:border-0 max-sm:shadow-none max-sm:rounded-0'
      : '',
    _class(),
  ]"
>
  <ng-content select="[slot=header]">
    @if (header_label() || header_revert() || header_reload()) {
      <div class="border-b border-default py-4 px-6 flex flex-row items-center justify-between">
        <span class="text-heading font-semibold text-xl flex flex-row items-center gap-2">
          {{ header_label() }}
          @if (header_loading()) {
            <ui-icon
              icon="loader"
              class="animate-spin"
            />
          }
        </span>
        <div class="flex flex-row gap-2">
          @if (header_revert()) {
            <ui-tooltip
              _id="tooltip-ui-card-revert"
              _label="Restaurar"
              placement="top"
            />

            <ui-button
              [attr.data-tooltip-target]="'tooltip-ui-card-revert'"
              icon="revert"
              variant="secondary"
              (click)="header_revert()!()"
            />
          }
          @if (header_reload()) {
            <ui-tooltip
              _id="tooltip-ui-card-reload"
              _label="Actualizar"
              placement="top"
            />
            <ui-button
              [attr.data-tooltip-target]="'tooltip-ui-card-reload'"
              icon="reset"
              variant="secondary"
              (click)="header_reload()!()"
            />
          }
        </div>
      </div>
    }
  </ng-content>

  <div
    class="px-6 py-4 pb-8"
    [ngClass]="[header_loading() ? 'pointer-events-none opacity-50' : '']"
  >
    <ng-content />
  </div>
</div>
