<div
  class="flex flex-col py-2 rounded-s-base rounded-se-base max-w-60 px-4 whitespace-pre-wrap wrap-break-word"
  [ngClass]="[
    side() === 'assistant'
      ? 'rounded-e-base rounded-ss-base bg-neutral-secondary-medium self-start'
      : 'rounded-s-base rounded-se-base bg-brand self-end',
    class(),
  ]"
>
  @if (content()) {
    @if (side() === 'assistant') {
      <div
        class="text-xs text-heading h-full overflow-x-auto"
        [innerHTML]="parseMarkdown(content()!)"
      ></div>
    } @else {
      <p class="text-xs text-heading">{{ content() }}</p>
    }
  } @else {
    <ng-content></ng-content>
  }
</div>
