<nav class="bg-neutral-primary w-full z-20 top-0 inset-s-0 border-b border-default sticky">
  <div class="flex flex-wrap items-center justify-between mx-auto p-2">
    <div class="flex flex-row items-center gap-4">
      <ui-button
        icon="menu"
        variant="ghost"
        class="text-heading sm:block hidden"
        size="lg"
        (click)="toggle_collapse_sidebar()"
      ></ui-button>
      <ui-button
        icon="menu"
        variant="ghost"
        class="text-heading sm:hidden"
        size="lg"
        data-drawer-target="dashboard-sidebar"
        data-drawer-toggle="dashboard-sidebar"
        aria-controls="dashboard-sidebar"
        (click)="toggle_collapse_sidebar(true)"
      ></ui-button>
      <a routerLink="/dashboard">
        <ui-logo class="text-2xl text-heading"></ui-logo>
      </a>
    </div>
    <div class="flex flex-row items-center gap-1">
      <ui-mode></ui-mode>
      <notification-button></notification-button>

      <dashboard-dropdown-profile></dashboard-dropdown-profile>
    </div>
  </div>
</nav>
