<form
  autocomplete="off"
  (submit)="on_submit($event)"
>
  <div class="flex flex-col gap-3">
    <div>
      <ui-field
        _label="Nombre del producto"
        _id="name"
        [field]="form.name"
        is_error_message_fixed
      >
        <ui-input
          _placeholder="Nombre del producto"
          [field]="form.name"
        />
      </ui-field>
    </div>

    <div>
      <ui-field
        _label="Categoria"
        _id="category_id"
        [field]="form.category_id"
        is_error_message_fixed
      >
        <ui-input
          _type="number"
          _placeholder="ID de la categoria"
          [field]="form.category_id"
        />
      </ui-field>
    </div>

    <div>
      <ui-field
        _label="Precio"
        _id="price"
        [field]="form.price"
        is_error_message_fixed
      >
        <ui-input
          _type="number"
          _placeholder="Precio del producto"
          [field]="form.price"
        />
      </ui-field>
    </div>

    <div>
      <ui-field
        _label="Stock"
        _id="stock_quantity"
        [field]="form.stock_quantity"
        is_error_message_fixed
      >
        <ui-input
          _type="number"
          _placeholder="Stock disponible"
          [field]="form.stock_quantity"
        />
      </ui-field>
    </div>

    <div>
      <ui-field
        _label="Descripcion"
        _id="description"
        [field]="form.description"
        is_error_message_fixed
      >
        <ui-textarea
          _placeholder="Descripcion del producto"
          [field]="form.description"
          [rows]="3"
        />
      </ui-field>
    </div>

    <div>
      @if (productService.selected_product()?.images?.length && keep_image()) {
        <div class="flex flex-col">
          <label
            for="keep_image"
            class="block text-sm font-medium text-heading"
          >
            Imágenes del producto
          </label>
        </div>
      } @else {
        <ui-file
          #file_component
          accept="image/*"
          [max_size_in_kb]="500"
          [(file_selected)]="selected_images"
          _multiple
          _label="Imágenes del producto"
          helper="Solo archivos con formato de imagen"
        />

        <div class="gap-3 w-full flex flex-wrap mt-4">
          @for (img of preview_images(); track img; let i = $index) {
            <div class="relative">
              <ui-image
                [height]="3"
                placeholder="image"
                [url]="img"
                is_square
                class="w-full"
              ></ui-image>

              <ui-button
                variant="secondary"
                icon="close"
                class="absolute -top-2 -right-2"
                rounded
                size="xs"
                (click)="remove_preview($event, i)"
              />
            </div>
          }
        </div>
      }
      @if (productService.selected_product()?.images) {
        <div class="gap-3 w-full flex flex-wrap mt-4">
          @for (image of productService.selected_product()?.images; track image; let i = $index) {
            <div class="relative">
              <ui-image
                [height]="3"
                placeholder="image"
                [url]="`${environment.imagePrefix}${image.image_url}`"
                is_square
                class="w-full"
              ></ui-image>

              <ui-button
                variant="secondary"
                icon="close"
                class="absolute -top-2 -right-2"
                rounded
                size="xs"
                (click)="remove_preview($event, i)"
              />
            </div>
          }
        </div>
      }
    </div>
  </div>
</form>
