<ng-template #delete_content>
  <div>
    <p class="text-base text-body">
      ¿Está seguro que desea eliminar el proveedor
      <b>{{ supplierService.selected_supplier()?.name }}</b
      >?
    </p>
  </div>
</ng-template>

<ng-template #disable_content>
  <div>
    <p class="text-base text-body">
      ¿Está seguro que desea
      {{ supplierService.selected_supplier()?.disabled_at ? 'habilitar' : 'deshabilitar' }} el
      proveedor <b>{{ supplierService.selected_supplier()?.name }}</b
      >?
    </p>
  </div>
</ng-template>
