<div class="flex flex-col gap-2">
  <div class="flex items-center gap-2 justify-between">
    <label class="block text-sm font-medium text-heading mb-2">Cliente</label>
    @if (!saleCreateService.customer()) {
      <ui-button
        icon="plus"
        variant="secondary"
        size="xxs"
        _label="Agregar cliente"
        aria-label="Crear cliente"
        (click)="customer_drawer_ref()?.open_drawer_create()"
      />
    }
  </div>

  @if (saleCreateService.customer(); as customer) {
    <div
      class="flex items-center gap-2-medium bg-neutral-secondary-medium border border-default-medium rounded-base px-3 py-2.5 mb-2"
    >
      <span class="flex-1 text-sm text-heading">
        {{ customer.profile.first_name }} {{ customer.profile.last_name }}
      </span>
      <ui-button
        variant="ghost"
        size="xs"
        icon="close"
        aria-label="Quitar cliente"
        (click)="saleCreateService.clear_customer()"
      />
    </div>
  } @else {
    <div class="flex gap-2 items-end">
      <ui-select-menu
        class="flex-1"
        _placeholder="Buscar cliente..."
        [fetch_options]="saleCreateService.fetch_customers.bind(this)"
        (valueChange)="saleCreateService.on_customer_change($event)"
      />
    </div>
  }
</div>

<customer-drawer #customer_drawer />
