<div
  #modal
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-150 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div
      class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
    >
      @if (modal_service.show_header()) {
        <div class="flex items-center justify-between border-default md:pb-2">
          @if (modal_service.options().header?.template) {
            <ng-container
              *ngTemplateOutlet="modal_service.options().header?.template"
              [class.border-b]="
                modal_service.options().header?.show_divider && modal_service.show_header()
              "
            ></ng-container>
          } @else if (modal_service.options().header?.properties?.title) {
            <h3 class="text-lg font-medium text-heading">
              {{ modal_service.options().header?.properties?.title }}
            </h3>
            @if (modal_service.options().header?.properties?.show_close_button) {
              <ng-container>
                <button
                  type="button"
                  class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
                >
                  <ui-button
                    variant="ghost"
                    icon="close"
                    (click)="modal_service.close()"
                  ></ui-button>
                </button>
              </ng-container>
            }
          }
        </div>
      }

      @if (modal_service.show_content()) {
        <div class="space-y-4 md:space-y-6 py-4 md:py-6">
          <ng-container
            *ngTemplateOutlet="modal_service.options().content?.template"
          ></ng-container>
        </div>
      }

      @if (modal_service.show_footer()) {
        <div class="flex items-center border-default space-x-4 md:pt-2">
          @if (modal_service.options().footer?.template) {
            <ng-container
              *ngTemplateOutlet="modal_service.options().footer?.template"
            ></ng-container>
          } @else if (
            modal_service.options().footer?.properties?.left_buttons ||
            modal_service.options().footer?.properties?.right_buttons
          ) {
            @if (modal_service.options().footer?.properties?.left_buttons) {
              @for (
                button of modal_service.options().footer?.properties?.left_buttons;
                track button.label
              ) {
                <ui-button
                  [variant]="button.variant"
                  [size]="button.size"
                  (click)="button.action()"
                  _label="{{ button.label }}"
                >
                  {{ button.label }}
                </ui-button>
              }
            }
            <div class="flex-1"></div>
            @if (modal_service.options().footer?.properties?.right_buttons) {
              @for (
                button of modal_service.options().footer?.properties?.right_buttons;
                track button.label
              ) {
                <ui-button
                  [variant]="button.variant"
                  [size]="button.size"
                  (click)="on_button_click(button.action)"
                  _label="{{ button.label }}"
                  [disabled]="buttons_disabled()"
                >
                  {{ button.label }}
                </ui-button>
              }
            }
          }
        </div>
      }
    </div>
  </div>
</div>
