<ui-card>
  <div class="text-center pb-5 pt-5">
    <span class="text-2xl font-bold tracking-tight text-heading">Iniciar sesión</span>
  </div>

  <form
    autocomplete="off"
    [formGroup]="form"
  >
    <div class="flex flex-col gap-6 mb-6">
      <div>
        <ui-field
          a_label="Nombre de usuario o correo electrónico"
          a_id="username_or_email"
        >
          <ui-input
            a_placeholder="Nombre de usuario o correo electrónico"
            form_control_name="username_or_email"
          />
        </ui-field>
      </div>

      <div>
        <ui-field
          a_label="Contraseña"
          a_id="password"
        >
          <ui-input
            a_type="password"
            a_placeholder="•••••••••"
            form_control_name="password"
          />
        </ui-field>
      </div>

      <div class="flex flex-row justify-between items-center gap-8">
        <ui-checkbox
          a_label="Recuérdame"
          form_control_name="remember_me"
          a_id="remember_me"
        />

        <a
          href="#"
          class="text-sm font-medium text-fg-brand hover:underline"
          >¿Has olvidado tu contraseña?</a
        >
      </div>

      <div class="flex flex-col gap-2">
        <ui-button
          a_label="Ingresar"
          a_type="submit"
          block
          variant="default"
        ></ui-button>

        <ui-button
          a_label="Iniciar sesión con Google"
          a_type="submit"
          block
          variant="secondary"
        ></ui-button>
      </div>

      <div class="text-center">
        <span class="text-sm font-medium hover:underline hover:text-fg-brand cursor-pointer"
          >¿Deseas registrarte?</span
        >
      </div>
    </div>
  </form>
</ui-card>
