<ui-table
  [fields]="fields()"
  [content]="movementService.movements()"
  [expandable]="expandable"
  [lock_scroll]="movementService.is_loading()"
  [fetch_on_scroll]="
    movementService.movements()?.is_last_page
      ? undefined
      : movementService.load_more.bind(movementService)
  "
  [filters]="filters"
  _datepicker
>
  <div
    slot="before"
    class="flex flex-col w-full justify-end gap-2"
  >
    <stock-filter />
    @if (can_manage_stock()) {
      <ui-button
        _label="Registrar movimiento"
        icon="plus"
        (click)="movement_modal_ref()?.open_create_modal()"
        class="self-end"
      />
    }
  </div>
</ui-table>

<movement-modal #movement_modal />
