<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
      <tr>
        @for (field of fields(); track field) {
          <th
            scope="col"
            class="px-6 py-3 font-medium text-heading"
          >
            {{ field.label }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @if (data().length === 0) {
        <tr>
          <td
            class="w-full p-8 text-center"
            [attr.colspan]="fields().length"
          >
            No hay ningún registro
          </td>
        </tr>
      } @else {
        @for (row of data(); track row) {
          <tr>
            @for (field of fields(); track field.label) {
              <td
                (click)="field.onClick?.(row)"
                [style.cursor]="field.onClick ? 'pointer' : 'default'"
                class="px-6 py-4 whitespace-nowrap"
              >
                @if (field.component) {
                  <ng-container
                    *ngComponentOutlet="field.component; inputs: field.getInputs!(row)"
                  />
                } @else if (field.isHtml) {
                  <span [innerHTML]="field.getValue!(row)"></span>
                } @else {
                  <span>{{ field.getValue!(row) }}</span>
                }
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>
