<div class="flex flex-col gap-4 justify-end items-end">
  <div class="flex flex-col lg:flex-row gap-2 items-end lg:items-center">
    <span class="text-heading text-sm">Filtrar por producto:</span>
    <ui-select-menu
      #select_menu_product
      _placeholder="Seleccione un producto"
      [(value)]="product"
      [options]="selected_product()"
      [fetch_options]="get_options.bind(this, 'api/product')"
      closable
    />
  </div>

  <div class="flex flex-col lg:flex-row gap-2 items-end lg:items-center">
    <span class="text-heading text-sm">Filtrar por proveedor:</span>
    <ui-select-menu
      #select_menu_supplier
      _placeholder="Seleccione un proveedor"
      [(value)]="supplier"
      [fetch_options]="get_options.bind(this, 'api/supplier')"
      [options]="selected_supplier()"
      closable
    />
  </div>
</div>
