html {
  background-color: var(--color-gray-200);
  background-image:
    radial-gradient(
      circle at 34% 95%,
      var(--color-neutral-100) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(circle at 27% 74%, var(--color-brand-100) 18%, transparent 40%),
    radial-gradient(circle at 2% 2%, var(--color-success-50) 3.1210986267166043%, transparent 40%),
    radial-gradient(
      circle at 2% 61%,
      var(--color-success-100) 4.830917874396135%,
      transparent 44.73965409873188%
    ),
    radial-gradient(circle at 16% 7%, var(--color-brand-50) 15.33436591844052%, transparent 35%),
    radial-gradient(circle at 40% 5%, var(--color-brand-100) 3.1210986267166043%, transparent 40%);
}

html.dark {
  background-color: var(--color-neutral-primary-medium);
  background-image:
    radial-gradient(
      circle at 34% 95%,
      var(--color-neutral-900) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(circle at 27% 74%, var(--color-brand-800) 18%, transparent 40%),
    radial-gradient(circle at 2% 2%, var(--color-success-950) 3.1210986267166043%, transparent 40%),
    radial-gradient(
      circle at 2% 61%,
      var(--color-success-950) 4.830917874396135%,
      transparent 44.73965409873188%
    ),
    radial-gradient(circle at 16% 7%, var(--color-brand-900) 15.33436591844052%, transparent 35%),
    radial-gradient(circle at 40% 5%, var(--color-brand-950) 3.1210986267166043%, transparent 40%);
  background-blend-mode: normal;
}
