<div class="w-full h-screen flex flex-col">
  <div
    class="flex p-4 justify-between sticky top-0 items-center transitocion-colors duration-300 z-10"
    [class.bg-white]="scrolled()"
    [class.dark:bg-neutral-900]="scrolled()"
  >
    <ui-logo class="text-2xl text-heading" />
    <a
      routerLink="/"
      class="flex items-center gap-1.5 text-sm font-medium text-heading hover:text-brand transition-colors"
    >
      <ui-icon icon="home" />
      <span>Volver al inicio</span>
    </a>
  </div>
  <div class="px-4 flex-1 flex flex-col justify-center">
    <router-outlet />
  </div>
  <div class="flex flex-row w-full p-4">
    <div class="ml-auto">
      <ui-mode />
    </div>
  </div>
</div>
